.ngwop a, .nclnga{
	cursor: pointer;
	color: #880000;
}

.hidden {
	display: none;
}

.nmuwophx {
	color: #888888;
	display: inline;
	font-weight: normal;
}

.ngmenucnt {
	z-index: 999;
}
#ngmenutoc {
	min-height: 220px;
	max-height: 380px;
	overflow: auto;
}
#ngmenutoc .box-content {
	font-size:0.9em;
	line-height: 1.1em;
}


#ngmenutxta, #phpws_form_mname, #phpws_form_mtitle, #phpws_form_mpinpoint, #phpws_form_mpinpage, #phpws_form_mlang {
    background-color: #ffffff;
    border-color: #999999 #DDDDDD #DDDDDD #999999;
    border-style: solid;
    border-width: 1px;
    color: #003366;
    font: 12px/1.4em "Courier New",Courier,monospace;
}


#ngmenutxt {
/*	overflow-y: hidden;  */
}
#ngmenutxtn {
	float: left;
    width: 28px;
	height: 286px;
    margin: 5px 0px;
    font: 9pt/1.4em "Courier New",Courier,monospace;
	text-align: right;
	color: #999999;
	overflow: hidden;
}
#ngmenutxta {
    display: block;
    width: 94%;
	height: 286px;
    margin: 4px auto;
    padding: 4px;
}

#ngmenumsg {
	height: 12pt;
	color:#d00;
    font: 9pt/1.4em "Courier New",Courier,monospace;
}

.sf-menu li {
	background-color: #588050;
}
.sf-menu li li {
	background-color: #628050;
}
.sf-menu li li li {
	background-color: #6e8050;
}
.sf-menu a {
	color: white;
}

.txtright {
	text-align: right;
}
.txtcenter {
	text-align: center;
}

div.ngchkboxlbl {
	display:inline;
	vertical-align:top;
}

.ngmenucnt {
	background-color: #ffffff;
}
.nmungtable {
	font-family: sans-serif;
}

.nmungtrfoot {
	background-color: #ddd;
}

.hidden {
	display: none;
}