/* ngws cleditor css 2013.02 */

p:after {
	content: "..:";
	display: inline-block;
	color: red;
	background-color: yellow;
}
/*	nothing works atm 
br {
	content: "../" !important;
	display: block !important;
	color: red !important;
	background-color: yellow !important;
	border-bottom: 1px dashed red !important;
}
*/
div {
	border: 1px dashed blue;
	background-color: #ddc;
	opacity: 0.9;
}
div div, div div div div {
	background-color: #eed;
}
div div div {
	background-color: #ddc;
}
td {
	border: 1px dashed red;
}
svg {
	border: 1px dashed orange;
}

div.nbkcoltxthr hr { 
	border-color: black;
	border-style: solid;
	border-width: 0 1px 1px;
	height: 1px;
}

.nbkcoltxt {
	   -moz-column-gap: 2em;
	-webkit-column-gap: 2em;
	     -o-column-gap: 2em;
	    -ms-column-gap: 2em;
	   -moz-column-rule: 1px dotted red;
	-webkit-column-rule: 1px dotted red;
	     -o-column-rule: 1px dotted red;
	    -ms-column-rule: 1px dotted red;
	line-height: 1.2em;
	text-align: justify;
}
.nbkcoltxt2 {
	   -moz-column-count: 2;
	-webkit-column-count: 2;
	     -o-column-count: 2;
	    -ms-column-count: 2;
}
.nbkcoltxt3 {
	   -moz-column-count: 3;
	-webkit-column-count: 3;
	     -o-column-count: 3;
	    -ms-column-count: 3;
}
.nbkcoltxt4 {
	   -moz-column-count: 4;
	-webkit-column-count: 4;
	     -o-column-count: 4;
	    -ms-column-count: 4;
}
.nbkcoltxt5 {
	   -moz-column-count: 5;
	-webkit-column-count: 5;
	     -o-column-count: 5;
	    -ms-column-count: 5;
}
